:root {
  --light-gray: #f5f5f5;
  --gray: #58595b;
  --green: #3dae2b;
  --skyblue: #e5eff8;
  --red: #d7282f;
  --line-color: #6b6c6e;
  --skyblue-border: #f1f1f2;
  --light-gray-border: #d1d3d4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
}
.main {
  width: 100%;
  height: 100vh;
  padding: 50px 20px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 25px;
  font-weight: 700;
  position: relative;
}
.title-icon {
  width: 35px;
  height: 35px;
}

.title::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #3dae2b;
  bottom: 9px;
  right: 0;
}

.flowchart-container {
  width: 100%;
  background-color: var(--light-gray);
  border-radius: 10px;
  padding: 30px;
  position: relative;
}

/* global classes */

/* boxed style  */
.grayBox,
.skyblueBox,
.greenBox,
.redBox {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 40px;
  color: white;
  position: relative;
  z-index: 10;
  text-align: center;
}

.grayBox {
  background-color: var(--gray);
}
.skyblueBox {
  background-color: var(--skyblue);
  border: 1px solid var(--light-gray-border);
  color: black;
}
.greenBox {
  background-color: var(--green);
  border: 1px solid var(--gray);
}
.redBox {
  background-color: var(--red);
}
.verySmallwidth {
  width: 110px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.smallWidth {
  width: 160px;
  height: fit-content;
  min-height: 40px;
}
.middleWidth {
  width: 225px;
}
.midwidth {
  width: 280px;
}
.wideWidth {
  width: 350px;
  height: 50px;
}

/* firstline  */

/* line styles  */
.first-line,
.forth-line,
.fifth-line,
.sixth-line {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* second line  */
.second-line,
.third-line {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 25px;
}
.third-line {
  margin-bottom: 0;
}

/* vertical line  */
.second-line::after {
  content: "";
  position: absolute;
  width: calc(100% - 280px);
  height: 2px;
  background-color: black;
  top: -42px;
  left: 141px;
}
.second-box::after,
.third-box::after {
  content: "";
  position: absolute;
  height: 42px;
  width: 2px;
  background-color: black;
  bottom: 100%;
  left: 50%;
}

/* green circle  */
.second-box::before,
.third-box::before,
.third-box-right::after,
.fifth-right-wrapper > .fifth-box::after,
.fifth-left-wrapper > .fifth-box::after,
.sixth-box::after,
.seventh-box::after,
.fifth-box::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: var(--green);
  bottom: 90%;
  left: 50%;
  transform: translate(-4px);
  border-radius: 50%;
  z-index: 6;
}

/* third line  */
.third-box::after {
  height: 26px;
}

.split {
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--light-gray-border);
  margin: 20px;
}

.third-box-right {
  position: relative;
}
.third-box-right::after {
  left: -2px;
  bottom: 39%;
}
.third-box-right::before,
.boss-wrapper::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: black;
  bottom: 48%;
  left: -30px;
}
.third-box-container {
  position: relative;
}
.third-box-container::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 30px;
  border: 2px dotted black;
  bottom: -33px;
  left: 50%;
}
.third {
  position: relative;
}
.third::after {
  content: "";
  position: absolute;
  height: 128px;
  width: 2px;
  background-color: black;
  top: -107px;
  left: -30px;
}
/* forth line  */
.forth-line {
  position: relative;
}
  .forth-line-wrapper{
    position: relative;
    width: 65%;
    display: flex;
    justify-content: center;
}

.forth-line-wrapper::after {
  content: "";
  position: absolute;
  width: calc(100% - 350px);
  border: 2px dotted black;
  top: 33px;
  transform: translateX(1px);
}
.forth-line::before {
  content: "";
  position: absolute;
  border: 2px dotted black;
  width: 0;
  height: 100px;
  top: -66px;
}

.boss-container {
  position: relative;
}
.boss-container::after,
.boss-container::before,
.boss::after,
.boss::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: var(--green);
  border-radius: 50%;
  top: 30px;
  z-index: 12;
}
.boss-container::after {
  left: -4px;
}
.boss-container::before {
  right: -4px;
}
.boss::after {
  left: -4px;
  top: 12px;
}
.boss::before {
  right: 50%;
  top: -4px;
  transform: translateX(50%);
}
.boss,
.boss-wrapper {
  width: 100%;
  height: 50px;
  position: relative;
}
.boss-wrapper::after {
  content: "";
  position: absolute;
  height: 161px;
  width: 2px;
  background-color: black;
  top: -145px;
  left: -30px;
}
.boss-wrapper::before {
  bottom: 64%;
}

/* fifth line  */
.line-wrapper {
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.line-wrapper::after,
.line-wrapper::before {
  content: "";
  position: absolute;
  width: 33%;
  height: 0;
  border: 2px solid black;
  left: 16.9%;
}
.line-wrapper::after {
  bottom: 78px;
}
.line-wrapper::before {
  bottom: 28%;
}
.fifth-right-wrapper {
  position: relative;
}
.fifth-right-wrapper::after {
  content: "";
  position: absolute;
  height: 105px;
  width: 2px;
  background-color: black;
  left: -10%;
  top: -35px;
}
.fifth-right-wrapper::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: black;
  left: 97%;
  top: 17px;
}

.fifth-right-wrapper > div,
.fifth-left-wrapper > div {
  margin-bottom: 10px;
}

.fifth-right-wrapper > .fifth-box::after {
  bottom: 14px;
  left: -1px;
}

.fifth-right-wrapper > .fifth-box::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: black;
  bottom: 17px;
  left: -10%;
}

.fifth-left-wrapper > .fifth-box::after {
  bottom: 14px;
  right: -10px;
}
.fifth-box-wrapper {
  position: relative;
  position: absolute;
  left: 115%;
}
.fifth-box-wrapper::after {
  content: "";
  position: absolute;
  height: calc(100% - 48px);
  width: 2px;
  background-color: black;
  top: 20px;
  left: -10%;
}
.fifth-box-wrapper > div {
  font-size: 15px;
  margin-bottom: 10px;
}

.fifth-box::after {
  top: 15px;
  left: 0;
}

.fifth-box-wrapper > .fifth-box::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: black;
  top: 19px;
  left: -23px;
}

/* line six  */

.sixth-line-wrapper {
  width: 70%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: relative;
}

.sixth-line-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
}
.sixth-left::after {
  bottom: 40%;
  right: -8px;
}
.sixth-right::after {
  bottom: 40%;
  left: 0;
}

.sixth-box::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 12px;
  background-color: black;
  bottom: -11px;
  left: 50%;
}

/* line seven  */

.seventh-line {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 28px;
}
.seventh-right-wrapper,
.seventh-left-wrapper {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: start;
}
.row-wrapper {
  display: flex;
  justify-content: space-between;
}
.highter {
  height: 110px;
}

.seventh-box {
  position: relative;
}
.seventh-box::after {
  bottom: 95%;
}

.seventh-right-wrapper,
.seventh-left-wrapper {
  position: relative;
}
.seventh-right-wrapper::after,
.seventh-left-wrapper::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 43px - 122.5px);
  background-color: black;
  top: -17px;
}
.seventh-right-wrapper::after {
  left: 113px;
}

.seventh-left-wrapper::after {
  left: 55px;
}

.seventh-box::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 2px;
  background-color: black;
  top: -16px;
  left: 50%;
}
.seventh-center-wrapper {
  position: relative;
}
.seventh-center-wrapper::after {
  content: "";
  position: absolute;
  width: 2px;
  left: 50%;
  height: 230px;
  background-color: black;
  top: -220px;
}

/* color  */

.colors {
  width: 470px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 4%;
  bottom: 10%;
}
.colors > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.square {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 3px;
}

@media screen and (max-width: 768px) {
  .main {
    width: 100vw;
  }
  .flowchart-container{
    padding: 20px 0 ;
  }
  .title {
    font-size: 9px;
    display: flex;
    align-items: center;
  }
  .title-icon {
    width: 20px;
    height: 20px;
  }
  .title::after {
    height: 3px;
    bottom: 19px;
  }
  .logo {
    width: 120px;
  }
  .logo > img {
    width: 100%;
  }

  .smallWidth,
  .midwidth,
  .middleWidth {
    font-size: 5px;
    height: 20px;
    min-height: 10px;
    line-height: 0.4rem;
  }
  .smallWidth {
    width: 50px;
    font-size: 3px;
  }
  .midwidth {
    width: 70px;
  }

  .verySmallwidth {
    width: 25px;
    min-height: 20px;
    height: 25px;
    font-size: 3px;
    border-radius: 5px;
  }
  .middleWidth {
    width: 51px;
    min-height: 20px;
  }
  .wideWidth {
    width: 80px;
    height: 20px;
    font-size: 4px;
  }

  .second-line,
  .third-line {
    width: 66%;
  }

  .first-line,
  .forth-line,
  .fifth-line,
  .sixth-line,
  .second-line {
    margin-bottom: 5px;
  }
  .second-line::after {
    width: calc(100% - 70px);
    left: 34px;
    top: -84%;
    height: 1px;
    transform: translateX(2px);
  }
  .second-box::after,
  .third-box::after {
    height: 16px;
    width: 1px;
    left: 51%;
  }
  .third-box::after {
    height: 16px;
  }
  .fifth-box-wrapper > div {
    font-size: 5px;
    margin-bottom: 2px;
  }
  /* green circle  */
  .second-box::before,
  .third-box::before,
  .third-box-right::after,
  .fifth-right-wrapper > .fifth-box::after,
  .fifth-left-wrapper > .fifth-box::after,
  .sixth-box::after,
  .seventh-box::after,
  .fifth-box::after {
    height: 4px;
    width: 4px;
    left: 55%;
  }
  .fifth-right-wrapper > .fifth-box::after,.fifth-box::after{
    height: 4px;
    width: 4px;
    left: 1%;
  }
  .third-box-right::after {
    left: 2px;
  }
  .third::after {
    height: 50px;
    width: 1px;
    top: -40px;
    left: -8px;
  }

  .forth-line::before {
    border: 1px dotted black;
    height: 46px;
    top: -35px;
  }
  .forth-line-wrapper::after {
    width: calc(100% - 65px);
    border: 1px dotted black;
    top: 11px;
    transform: translateX(1px);
}
  .split {
    height: 20px;
    margin: 0;
  }
  .fifth-right-wrapper > .fifth-box::before {
    width: 14px;
    height: 1px;
    bottom: 8px;
    left: -22%;
  }
  .third-box-container::before {
    height: 12px;
    border: 1px dotted black;
    bottom: -13px;
    left: 50%;
  }

  .fifth-box::after {
    height: 4px;
    width: 4px;
    left: 3%;
    top: 43%;
  }
  .fifth-left-wrapper > .fifth-box::after {
    right: -7px;
  }

  .line-wrapper::before {
    border: none;
    height: 1px;
    bottom: 31%;
    background-color: black;
  }
  .line-wrapper::after {
    border: none;
    height: 1px;
    bottom: 82%;
    background-color: black;
  }

  .boss,
  .boss-wrapper {
    height: 20px;
    font-size: 5px;
  }

  .boss-container::after,
  .boss-container::before,
  .boss::after,
  .boss::before {
    width: 4px;
    height: 4px;
  }
  .boss::before {
    top: -2px;
  }
  .boss::after {
    left: -1px;
    top: 4px;
  }
  .boss-container::after {
    left: -1px;
    top: 10px;
  }
  .boss-wrapper::after {
    content: "";
    position: absolute;
    height: 67px;
    width: 1px;
    background-color: black;
    top: -60px;
    left: -9px;
  }
  .boss-container::before {
    right: -1px;
    top: 10px;
  }
  .third-box-right::before,
  .boss-wrapper::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 10px;
    background-color: black;
    left: -9px;
  }
  
  .fifth-box-wrapper > .fifth-box::before {
    width: 8%;
    height: 1px;
    top: 9px;
    left: -6px;
  }
  .fifth-right-wrapper::before {
    width: 25%;
    height: 1px;
    left: 96%;
    top: 9px;
  }
  .fifth-box-wrapper::after {
    height: calc(100% - 22px);
    width: 1px;
    top: 10px;
    left: -10%;
  }
  .fifth-right-wrapper::after {
 
    height: 54px;
    width: 1px;
    left: -15px;
    top: -13px;
  }
  .sixth-line-wrapper::after {
    height: 1px;
  }
  .sixth-box::before {
    width: 1px;
    height: 5px;
    bottom: -5px;
    left: 50%;
  }

  .sixth-box::after {
    left: 3%;
  }
  .sixth-left::after {
    right: -7%;
  }
  .seventh-center-wrapper::after {
    height: 124px;
    top: -115px;
    width: 1px;
  }
  .colors {
    width: 150px;
    height: 20px;
    left: 15px;
    bottom: 15px;
  }
  .colors > div {
    font-size: 3px;
  }
  .square {
    width: 10px;
    height: 10px;
    border-radius:2px ;
  }
  .seventh-line {
    margin-top: 10px;
  }
  .column {
    row-gap: 2px;
  }
  .seventh-box::before {
    height: 7px;
    width: 1px;
    top: -7px;
    left: 48%;
  }
  .seventh-right-wrapper::after,
  .seventh-left-wrapper::after {
    height: 1px;
    width: calc(100% - 38px);
    top: -6px;
  }
  .seventh-right-wrapper::after {
    left: 25px;
  }
  .seventh-left-wrapper::after {
    left: 12px;
  }
  .fifth-box-wrapper{
    left: 130%;
  }
  .investment::after{
    left: 55.5%;
  }
  .investment::before{
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .main {
    width: 100vw;
  }
  .title {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  .title-icon {
    width: 30px;
    height: 30px;
  }
  .title::after {
    height: 3px;
    bottom: 10px;
  }
  .logo {
    width: 120px;
  }
  .logo > img {
    width: 100%;
  }

  .smallWidth,
  .midwidth,
  .middleWidth {
    font-size: 5px;
    min-height: 20px;
    line-height: 0.4rem;
  }
  .smallWidth {
    width: 85px;
    font-size: 6px;
  line-height: .7rem;

  }
  .midwidth {
    width: 100px;
    height: 20px;
  }

  .verySmallwidth {
    width: 48px;
    min-height: 20px;
    height: 25px;
    font-size: 6px;
    border-radius: 5px;
  }
  .middleWidth {
    width: 100px;
    min-height: 20px;
    height: 20px;
  }
  .wideWidth {
    width: 80px;
    height: 20px;
    font-size: 4px;
  }

  .second-line,
  .third-line {
    width: 66%;
  }

  .first-line,
  .forth-line,
  .fifth-line,
  .sixth-line,
  .second-line {
    margin-bottom: 10px;
  }
  .second-line::after {
        width: calc(100% - 100px);
        left: 50px;
        top: -100%;
        height: 1px;
        transform: translateX(3px);
  }
  .second-box::after,
  .third-box::after {
    height: 20px;
    width: 1px;
    left: 52%;
  }
  .third-box::after {
    height: 16px;
  }
  .fifth-box-wrapper > div {
    font-size: 5px;
    margin-bottom: 2px;
  }
  /* green circle  */
  .second-box::before,
  .third-box::before,
  .third-box-right::after,
  .fifth-right-wrapper > .fifth-box::after,
  .fifth-left-wrapper > .fifth-box::after,
  .sixth-box::after,
  .seventh-box::after,
  .fifth-box::after {
    height: 4px;
    width: 4px;
    left: 55%;
  }
  .fifth-right-wrapper > .fifth-box::after{
    left: 2%;

  }
  .third-box-right::after {
    left: 2px;
  }
  .third::after {
    height: 60px;
    width: 1px;
    top: -50px;
    left: -8px;
  }

  .forth-line::before {
    border: 1px dotted black;
    height: 46px;
    top: -35px;
  }
  .forth-line::after {
    width: 45%;
    border: 1px dotted black;
    top: 11px;
  }
  .forth-line-wrapper::after{
    width: calc(100% - 95px);
    border: 1px dotted black;
    top: 11px;
    transform: translateX(1px);
  }
  .split {
    height: 20px;
    margin: 10px;
  }
  .fifth-right-wrapper > .fifth-box::before {
    width: 14px;
    height: 1px;
    bottom: 8px;
    left: -15%;
  }
  .third-box-container::before {
    height: 12px;
    border: 1px dotted black;
    bottom: -13px;
    left: 50%;
  }

  .fifth-box::after {
    height: 4px;
    width: 4px;
    left: 3%;
    top: 43%;
  }
  .fifth-left-wrapper > .fifth-box::after {
    right: -7px;
  }

  .line-wrapper::before {
    border: none;
    height: 1px;
    bottom: 31%;
    background-color: black;
  }
  .line-wrapper::after {
    border: none;
    height: 1px;
    bottom: 82%;
    background-color: black;
    transform: translateX(2px);
  }

  .boss,
  .boss-wrapper {
    height: 20px;
    font-size: 5px;
  }

  .boss-container::after,
  .boss-container::before,
  .boss::after,
  .boss::before {
    width: 4px;
    height: 4px;
  }
  .boss::before {
    top: -2px;
  }
  .boss::after {
    left: -1px;
    top: 4px;
  }
  .boss-container::after {
    left: -1px;
    top: 10px;
  }
  .boss-wrapper::after {
    content: "";
    position: absolute;
    height: 77px;
    width: 1px;
    background-color: black;
    top: -70px;
    left: -9px;
  }
  .boss-container::before {
    right: -1px;
    top: 10px;
  }
  .third-box-right::before,
  .boss-wrapper::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 10px;
    background-color: black;
    left: -9px;
    bottom: 69%;
  }
  .third-box-right::before{
    bottom: 55%;
  }
  .fifth-box-wrapper > .fifth-box::before {
    width: 11%;
    height: 1px;
    top: 9px;
    left: -11px;
  }
  .fifth-right-wrapper::before {
    width: 9%;
    height: 1px;
    left: 95%;
    top: 9px;
  }
  .fifth-box-wrapper::after {
    height: calc(100% - 22px);
    width: 1px;
    top: 10px;
    left: -10%;
  }
  .fifth-right-wrapper::after {
    height: 60px;
    width: 1px;
    left: -15px;
    top: -19px;
  }
  .sixth-line{
    margin-bottom: 20px;
  }
  .sixth-line-wrapper::after {
    height: 1px;
  }
  .sixth-box::before {
    width: 1px;
    height: 11px;
    bottom: -11px;
    left: 50%;
  }

  .sixth-box::after {
    left: 3%;
  }
  .sixth-left::after {
    right: -7%;
  }
  .seventh-center-wrapper::after {
    height: 132px;
    top: -127px;
    width: 1px;
  }
  .colors {
    width: 200px;
    height: 20px;
  }
  .colors > div {
    font-size: 4px;
  }
  .square {
    width: 10px;
    height: 10px;
    border-radius:2px ;
  }
  .seventh-line {
    margin-top: 10px;
  }
  .column {
    row-gap: 2px;
  }
  .seventh-box::before {
    height: 10px;
    width: 1px;
    top: -10px;
    left: 50%;
    transform: translateX(2px);
  }
  .highter::before{
    left: 45%;
  }
  .seventh-right-wrapper::after,
  .seventh-left-wrapper::after {
    height: 1px;
    width: calc(100% - 71px);
    top: -10px;
  }
  .seventh-right-wrapper::after {
    left: 52px;
    width: calc(100% - 76px);

  }
  .seventh-left-wrapper::after {
    left: 24px;
  }
  .investment::after{
    left: 53%;
  }
  .investment::before{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
